.nav__top{
    background-color:#12679b  ;
    height: 58px;
    
    
   
}
.nav__main{
    
    background-color:#092e44;
}

.hero__content{
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
}
.hero{
    background: rgba(76, 175, 80, 0.1);
}
.hero__btn{
    background-color:#12679b ;
    color: #fff;
    font-size: 32px;
    border-radius: 10px;
    padding: 10px ;
}
.hero__card{
    margin-top: 40px;
    font-size:40px;
   
}
.hero__card-value{
    color: #fbff00!important;
    font-family: Poppins,sans-serif;
    text-align: center;
    border-radius: 10px;
    height: 120px;
    width: 270px;
    background-color: #092e44;
    font-weight:bolder;
    margin: 10px;
    padding:15px 0px;
    opacity: 0.9;
    
    
}



.line {
    
        border-bottom: 8px solid #E5E5E5;
        width: 100px;
        margin-left:47%;
        margin-top: -30px;
       
}
.line:after {
        content: '';
        display: block;
        border-bottom: 8px solid #12679b;
        margin-bottom: -8px;
        max-width: 50px;
        
      }
.section_type-testimonial{
    background-color:#092e44 ;
    color: #fff;
    padding: 15px;
    font-family: Poppins,sans-serif;
}
.test__star{
    color: #fff;
}
.test__footer{
    padding: 10px;
    font-family:italic;
    color:#586b77;
}
.contact__info-list{
    padding: 15px;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
}
.contact__title{
    color: #fff;
   
}
.contact__info-title{
    color: aliceblue;
    font-size: 35px;
    font-weight: bolder;
}
.contact__info-content{
    color: #fff;
    font-size: large;
}
.contact__info-icon{
    padding: 15px;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
    padding-left:15px ;
}


.service__info-content{
   margin: 30px;
   padding-right: 30px;
   padding-left: 20px;
}
.review{
    background-color:#092e44 ;
    color: #fff;
    padding: 15px;
    width: 100%;
    height: 200px;
    font-family: Poppins,sans-serif;
}
.review__star{
    color: #ffc600!important;
}
.footer__links{
    padding: 20px;
}
.contact__form{
    z-index: -1;
    margin: -50px;

}


.section_type-hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    right: 0;
    bottom: 0;
    background: #05385a;
    z-index: 0;
    opacity: .9;
}
.section_type-hero::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    right: 0;
    bottom: 0;
    background: #05385a;
    z-index: 9;
    opacity:0;
}
.hero__heading{
    color: #fff;
}
