

.section_type-hero::before {
    content: "";
    position: absolute;
   
    display: block;
    width: 100%;
    height: 100%;
    background: #05385a;
    z-index: 0;
    opacity: .9;
}
.section_type-hero::after{
    content: "";
    position: relative;
    width: 100%;
    height: 100%;
    
    display: block;
    
    background: #05385a;
    z-index: 9;
    opacity:0;
}

.hero__content{
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
}

.hero__btn{
    background-color:$color__secondary ;
    color: #fff;
    font-size: 32px;
    border-radius: 10px;
    padding: 10px ;
    position: relative;
    z-index: 1;
}
.hero__card{
    margin-top: 40px;
    font-size:40px;
   
}
.hero__card-value{
    color: #fbff00!important;
    font-family: Poppins,sans-serif;
    text-align: center;
    border-radius: 10px;
    height: 120px;
    width: 270px;
    background-color: $color__primary;
    font-weight:bolder;
    margin: 10px;
    padding:15px 0px;
    opacity: 0.9;
    
    
}



.line {
    
        border-bottom: 8px solid #E5E5E5;
        width: 100px;
        margin-left:47%;
        margin-top: -30px;
       
}
.line:after {
        content: '';
        display: block;
        border-bottom: 8px solid $color__secondary;
        margin-bottom: -8px;
        max-width: 50px;
        
      }
.section_type-testimonial{
    background-color:$color__primary ;
    color: #fff;
    padding: 15px;
    font-family: Poppins,sans-serif;
}
.test__star{
    color: #fff;
}
.test__footer{
    padding: 10px;
    font-family:italic;
    color:#586b77;
}
.contact__info-list{
    padding: 15px;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
}
.contact__title{
    color: #fff;
   
}
.contact__info-title{
    color: aliceblue;
    font-size: 35px;
    font-weight: bolder;
}
.contact__info-content{
    color: #fff;
    font-size: large;
}
.contact__info-icon{
    padding: 15px;
    text-align: left;
    font-size: 20px;
    color: #fff;
    font-weight: bolder;
    padding-left:15px ;
}


.service__info-content{
   margin: 30px;
   padding-right: 30px;
   padding-left: 20px;
}
.review{
    background-color:$color__primary ;
    color: #fff;
    padding: 15px;
    width: 100%;
    height: 200px;
    font-family: Poppins,sans-serif;
}
.review__star{
    color: $color__sunflower!important;
}
.footer__links{
    padding: 20px;
}
.contact__form{
    z-index: -1;
    margin: -50px;

}



.hero__heading{
    color: #fff;
    position: relative;
    z-index: 1;
}
