.nav__top{
    background-color:#12679b  ;
    height: 58px;
    
    
   
}
.nav__main{
    
    background-color:#092e44;
}
.uk-navbar-nav>li.uk-navbar-item>a{
    color: #fff;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.hero__content{
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
}
.hero{
    background: rgba(76, 175, 80, 0.1);
}
.hero__btn{
    background-color:#12679b ;
    color: #fff;
    font-size: 32px;
    border-radius: 10px;
    padding: 10px ;
}
.hero__card{
    margin-top: 40px;
    font-size:40px;
   
}
.hero__card-value{
    color: #fbff00!important;
    font-family: Poppins,sans-serif;
    text-align: center;
    border-radius: 10px;
    height: 120px;
    width: 270px;
    background-color: #092e44;
    font-weight:bolder;
    margin: 10px;
    padding:15px 0px;
    opacity: 0.9;
    
    
}
.uk-background-cover{
    background: rgba(22, 8, 102, 0.3);
}
.uk-h3{
    margin-bottom: 20px;
    font-size: 5rem;
}
.about__line{
    background-color:#12679b; 
    width: 200px; 
    height: 10px; 
    text-align: center;
    border-radius: 30px;
    margin-left: 43%;
    margin-top: -63px;
}
.test{
    background-color:#092e44 ;
    color: #fff;
    padding: 15px;
    font-family: Poppins,sans-serif;
}
.test__star{
    color: #fff;
}
.test__footer{
    padding: 10px;
    font-family:italic;
    color:#586b77;
}