.line {
    
    border-bottom: 8px solid #E5E5E5;
    width: 100px;
    margin-left:47%;
    margin-top: -30px;
    &::after{

    content: '';
    display: block;
    border-bottom: 8px solid $color__secondary;
    margin-bottom: -8px;
    max-width: 50px; 
    }
    
   
}
