//hero section
.section__type-hero::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: $color__background;
    z-index: 0;
    opacity: .9;

 & .section__type-hero::after{
    content: "";
    position: relative;
    width: 100%;
    height: 100%;
    
    display: block;
    
    background: $color__background;
    z-index: 9;
    opacity:0;
   
}}


.hero__type-content{
    text-align: center;
    margin-left: 50%;
    margin-right: 50%;
    h1{
        color:$color__main;
        position: relative;
        z-index: 1;
       }
    h5{
        color: $color__main;
        position: relative;
        z-index: 1;
       }


    & .hero__btn{
    background-color:$color__secondary ;
    color:$color__main;
    font-size: 32px;
    border-radius: 10px;
    padding: 10px ;
    position: relative;
    z-index: 1;
}

}
