.contact__type-heading{
    h3{
        font-size:30px;
        padding: 15px 0px; 
        color:$color__primary; 
        span{
            color:$color__black;
        }
    }
   
}

.contact__type-info{
   background-color: $color__primary;
      h3{
        color: $color__main;
        span{
         color: $color__secondary;
        }
       }
    & .contact__info-content{
        color: $color__main;
        font-size: large;
    }  
    & .contact__info-list{
        padding: 15px;
        text-align: left;
        font-size: 20px;
        color: $color__main;
        font-weight: bolder;
    }
}



.contact__info-icon{
    padding: 15px;
    text-align: left;
    font-size: 20px;
    color: $color__main;
    font-weight: bolder;
    padding-left:15px ;
}



.contact__type-form{
    z-index: -1;
    margin: -50px;
    h3{
        font-size:30px;
        padding: 15px 0px;
         color: $color__secondary;
         span{
             color:$color__black;
         }
    }

}
