.section__type-review{
    background-color: $color__primary;
    h3{
        font-size:30px;
        padding: 15px 0px;
         color:$color__secondary; 
         span{
             color: $color__main;
         }
    }  

 & .review__type-content{
    span{
        color: $color__sunflower;
    }
}
 & .review__type-footer{
    h3{
        color: $color__main;
        span{
            color: $color__sunflower;
        }
    }
}
 & .review__type-brand{
    background-color: $color__primary;
}
}








