.section_type-testimonial{
    background-color:$color__primary ;
    color: $color__main;
    padding: 15px;
    font-family: Poppins,sans-serif;

     h3{
        font-size:20px;
        position: relative;
        padding: 15px 0px 25px 0px; 
        color: $color__main;
    }
   & .testimonial__type-text{
       text-align: center;
       & .testimonial__type-star{
        color: $color__main;
      }
      & .testimonial__type-footer{
        padding: 5px;
        font-family:italic;
        color:#586b77;
    }
   } 

 
  }