.section__type-footer{
  background-color: $color__primary;
    a{
        color:$color__main ;
        font-size: 1.5rem;
    }
    h2{
        color: $color__main;
    }

   .footer__links{
    padding: 20px;
   
    }
  span{
      color:$color__main ;
  }
}