.section_type-testimonial{
    background-color:$color__primary ;
    color: $color__main;
    padding: 15px;
    font-family: Poppins,sans-serif;

    & .testimonial__type-heading{
        font-size:30px;
        position: relative;
        padding: 15px 0px; 
        color: $color__main;
    }
}
.test__star{
    color: $color__main;
}
.test__footer{
    padding: 10px;
    font-family:italic;
    color:#586b77;
}